body{
    height: 100vh;
}


.content {

    display: flex;
    flex-grow: 1;
    

}

.textos {
    text-align: left;
    flex: 1;
    max-width: 400px;
}

.boton {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 17px;
    background-color: #685634;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

h1 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}

.texto1, .texto2 {
    width: 100%;
    max-width: 380px;
    border: solid 2px black;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.3);
    resize: none;
    margin-bottom: 15px;
}

.texto1 {
    height: 40px;
}

.texto2 {
    height: 150px;
}

.content2 {
    text-align: left;
    flex: 1;
    font-size: 18px;
    font-weight: 500;
    max-width: 300px;
}

.content2 p {
    margin: 10px 0;
}


@media (max-width: 900px) {
    .content {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .textos, .content2 {
        max-width: 100%; 
        text-align: center; 
    }

    .content2 {
        font-size: 16px;
    }
}
