form {

    margin-top: 10px;
    margin-left: 42%;
    font-size: 20px;    
    
}



h1{

    margin-top: 10%;
    text-align: center;

}

input{

    font-size: 17px

}

button {

    padding: 4px 5px;  
    border-radius: 5px; 
    cursor: pointer; 
}
