body{
    background-image: url("/NosaSports/Codigo/app/view/Img/fondoLogin.webp");
}

.popup{
      margin: auto;
      text-align: center;
      border: 4px rgba(104, 86, 52) solid;
      background-color: rgba(104, 86, 52,0.9);
      width: 40%;
      margin-top:5%;
      border-radius: 20px;
      padding: 20px;
      
    
}

input{
    
    display: block;
    width: 35%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    
    
    

}

h2{
    color: white;
    font-size:50px;
}

p{
    font-size: 30px;
    margin: 15px;
    color:white;
    
}

input[type="submit"] {
    background-color: black; /* Cambia el color de fondo del bot칩n */
    color: white; /* Color de texto blanco */
    font-size: 18px;
    cursor: pointer;
    border: none; /* Elimina el borde para una apariencia m치s limpia */
    transition: background-color 0.3s; /* A침ade una transici칩n para el hover */
    margin-top: 50px;
    margin-bottom: 50px;
}

input[type="submit"]:hover {
    background-color: #544529; /* Cambia el color al pasar el mouse */
}

a{
    font-size: 22px;
    text-decoration: none;
    color: white;
    margin-left: 40px;
    
}

a:hover{
    color:red;

}

#cierre{
    color:white;
    margin-right: 0;
    
    
}

#pregunta{
    color:black;
    font-size: 20px;
}


