body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.detalleProducto {
    display: flex;
    max-width: 1100px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.imagenProducto {
    position: relative; /* Asegúrate de que este contenedor tenga position: relative */
}

.imagenProducto img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    border-right: 1px solid #ddd;
}

.likeContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10; 
}

.botonLike {
    background-color: transparent;
    color: black;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.botonLike.dadoLike {
    color: red;
}

.infoProducto {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.infoProducto h1 {
    margin: 0;
    font-size: 35px;
    color: #333;
}

.categoria {
    display: inline-block;
    background-color: #e3f2fd;
    color: #1e88e5;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.precio {
    font-size: 29px;
    margin: 20px 0;
    color: #2e7d32;
}

.descripcion {
    font-size: 18px;
    margin: 10px 0;
    color: #666;
}

.acciones .botonComprar,
.acciones .botonDeseados {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.acciones .botonComprar {
    background-color: #2e7d32;
    color: white;
}

.acciones .botonDeseados {
    background-color: #616161;
    color: white;
}
